{%load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop</title>
    </head>

   <body>
    <header class="base_header">
      <div class="profile">
        {% if user.is_authenticated%}
             {{ user.username }}
        {% else %} None 
        {%endif %}
      </div>
    </header>

    <section class="content_container">
      {% block content %} {% endblock %}
    </section>

    <!-- <footer class="base_footer"></footer> -->
  </body>
</html>